.footer-links a {
  color: #fff;      
  text-decoration: none; 
}

.footer-links a:hover {
  color: #ddd;     
  text-decoration: none;
}

.footer-links a {
  font-weight: 400;
  letter-spacing: 0.3px;
}
.carousel-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.carousel-control-prev-icon {
  transform: translateX(-40px);
}

.carousel-control-next-icon {
  transform: translateX(40px);
}
